body{
  max-width: 100%;
}
h1 {
  color: #131313;
  letter-spacing: .15em;
  text-shadow: -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89;
  color: #131313;
  font-size:50px;
  text-align: center;
}
h2{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}
p {
  font-family: 'Cardo', serif;
  text-align: center;
}
h3 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

hr{
  color: black;
  border: solid;
}
header {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
  padding: 0px;
}
.bodyMain {
  padding:150px;
  display:flex;
  justify-content:center;
  flex-direction: column;
  border: inset;
}
.navigationBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: #f1f1f1;
  border-color: grey;
  border-width: medium;
}
.navigationBar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.navigationBar li :hover {
  background-color: white;
}
.mB {
  padding:80px;
}
.jK {
  padding:80px;
}
.dK {
  padding:80px;
}
.nS{
  padding:80px;
}
.staffCom{
  padding: 80px;
}
.contactus{
  padding:80px;
}
.InsurePay{
  padding: 80px;
}
